<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Diana Stepišnik ~ Fakebook </title>
    <style>
    p {
  background-color: white;
}
body {
background-color: white;
}
.image:hover {
  border: 6px blue solid;
}
p {
    font-family: "Arial", Arial, serif;
}
    </style>
  </head>
  <body>
    <h1>FAKEBOOK</h1>
    <P> Iskalnik: <input type="text" placeholder="išči po imenu"> </p>
    <h2> Diana Stepišnik </h2>
    <img src= "http://cs405722.userapi.com/v405722803/192c/7nPS-ixmdyk.jpg/" class="image">
    <br>
    <br>
    <br>
    <button> Dodaj za prijatelja </button>
    <br>
    <p> <strong> Kraj: </strong> Ljubljana </p>
    <p> <strong> Starost: </strong> 25 let </p>

    <p> <strong> Število FB prijateljev: </strong> 151 </p>
  </body>
</html>
